.guild-menu-container {
    width:80%;
    flex-direction:column;
    margin: 0 auto;
    margin-top: 60px;
}


.guild-text {
text-transform: uppercase;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
color: rgb(77, 101, 126);
margin-top: 10px;
margin-left: 30px;
font-size: 30px !important;
padding: 8px 0px;
line-height: 1.75em!important;
}
.guild-text2 {
  text-transform: uppercase;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  color: slategray;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 20px !important;
  padding: 8px 0px;
  line-height: 0.5em!important;
  }

html{
  overflow: scroll!important;
}

.guild-menu-item {
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: white;
    font-size: 32px;
    text-align: left;
    margin: 20px 0px;
    padding: 20px 15px;
    border-radius: 25px;
    align-items: center;
}

.guild-menu-item2 {
  width: 100%;
  justify-content: space-between;
  background-color: white;
  font-size: 21px;
  text-align: left;
  margin: 20px 0px;
  padding: 10px 15px;
  border-radius: 25px;
  align-items: center;
}


.guild-details {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    height: 80%;
    background-color: rgba(199, 199, 199, 0.74);
}




.guild-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-container {
  margin-top: 10px;
  margin-bottom: 10px;
}


.base-btn {
    padding: 8px 0px !important;
    width: 150px;
    margin-left: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    text-transform: uppercase;
    font-size: 18px !important;
    font-weight: 400 !important;
    color: rgb(0, 0, 0);
}


.base-btn2 {
  padding: 8px 0px !important;
  width: 100px;
  margin-left: 15px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: rgb(0, 0, 0);
}

.dashboard-btn {
  background-color: rgb(68, 138, 179) !important;
  border-radius: 15px !important;
  color:rgba(255, 255, 255, 0.733)
}

.premium-btn {
  background-color: rgb(52,197,136) !important;
  border-radius: 15px !important;
  color:rgba(255, 255, 255, 0.733)
  }

  .dashboard-btn:hover {
    background-color: rgb(53, 108, 139) !important;
  }
  .dashboard-btn:active {
    background-color: rgb(53, 108, 139) !important;
    transform: scale(0.98);
    border-color: beige;
  }
  

  .premium-btn:hover {
    background-color: rgb(43, 161, 112) !important;
  }
  .premium-btn:active {
    background-color: rgb(43, 161, 112) !important;
    transform: scale(0.98);
    border-color: beige;
  }
  
 