

body {
    margin:0;
    padding:0;
}

header {
    background-color: #2F4050;
    border-color: white;
    border-bottom: solid 0.01em;
    display:"inline";
}

header svg {
    font-size: 40px;
}

.menup {
    transition:0s 0.1s;
}
.menup:active {
    color:#949494;
    transform: scale(0.95);
    transition:0s;
}



.Sidebar {
    height: 120%;
    width: 250px;
    background-color: #444f75;
    border-right: solid 0.1em;
    border-color: white;
    left:-100%;
    transition: all 1s;
}
.Sidebar.active {
    left:0;
    transition: all 1s;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}
    
.SidebarList .row {
width: 100%;
height: 60px;
margin:0%;
display: flex;
flex-direction: row;
color:white;
justify-content: center;
align-items: center;
text-transform: uppercase;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:medium;
}

.SidebarList #active {
    background-color: #36415c;
}

.SidebarList :hover {
    background-color: #3a4563;
    cursor: pointer;
}


.row #icon {
    flex:30%;
    display: grid;
    place-items: center;
}
.row #title {
    flex:70%;

}



.SidebarList .rowretour {
    width: 100%;
    height: 40px;
    margin:0%;
    display: flex;
    flex-direction: row;
    color:rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    }
    
    .rowretour #icon {
        flex:30%;
        display: grid;
        place-items: center;
    }
    .rowretour #title {
        flex:70%;
    
    }

    .serveur-logo {
        margin-top: 2%;
        margin-bottom: 7%;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        border: 2px white solid;
        border-radius: 50%;
        overflow: hidden;
    }
    .serveur-logo:hover {
        transform: scale(1.1); 
    }

    .container2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform .2s;
    }

    .container2:hover {
        background-color: #444f75;
        cursor:auto;
    }

    .serveur-nom {
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
    text-transform: uppercase;
    color:white;
    margin-bottom: 5%;
    }

    .serveur-nom:hover {
        background-color: #444f75;
        cursor:auto;
    }