.description-cmd {
    color:White !important;
    
}
.titre {
    color:White;
    font-weight: bold !important;
    font-size: medium !important;
}

#sides{
    margin:0;
    }
#left{
    float:left;
    background-color: #2F4050;
    overflow:hidden;
    }
#right{
    float:right;
    overflow:hidden;
    padding-right: 10%;
    } 

.labelogs {
    font-size: "2px" ;
}

.buttoncopie {
    transition:0s 1s;
}
.buttoncopie:hover {
    color:grey !important;
    transform: scale(0.95);
    transition:0s;
}

.buttoncopie:active {
    color:rgba(0, 153, 255, 0.555) !important;
    transform: scale(0.9);
    transition:0s;
}

.MuiInputBase-root {
    color:white !important
}
